/*PC */
.containerinfor{
    float: left;
}
.card-img-top{
    height: 390px;
}
.card{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
}
.table-dark{
    margin-top: 100px;
}

#card-add{
    width: 600px;
    background-color: lightseagreen;
    font-weight: bold ;

}
#titlecskh{
    padding-left: 70px;
    font-weight: bold ;
    font-size:x-large;
    color: aliceblue;
}
.form-label{
    padding-left: 30px;

}
.form-control{
    width: 70%;
}
#button{
    height: 50px;
    width: 30%;
    margin: 0 auto;
}

    

/* Tablet*/

@media (min-width: 800px) and (max-width: 1200px) {
  
    .card{
        width: 600px;
        height: 430px;
        border-radius: 50%;
        margin-left: 100px;
    }
    #card-add{
        width: 600px;
        background-color: lightseagreen;
        height: 470px;
        font-weight: bold ; 
    }
}
/* Phone*/

@media (min-width: 300px) and (max-width: 750px) {
    .card{
        float: left !important;
        width: 100%;
        height: 430px;
        border-radius: 50%;
        margin-left: 0;
        
    }
    #card-add{
        float: left !important;
        width: 100%;
        background-color: lightseagreen;
        height: 510px;
        font-weight: bold ; 
    }
    
}