.container-fluid{
    width: 50%;
}
.details{
    height: 300px;
    width: 100%;
}
.navbar{
    border: none;
}
.content{
    height: 80%;
    width: 100%;
    padding: 10px 30px;
    font-size: 15px;
    font-family: "Roboto", sans-serif
}