.br-6 {
  border-radius: 6px !important;
}

.fw-b {
  font-weight: bold;
}

.rm-pd {
  padding: 0 !important;
}

.position-top {
  top: 0 !important;
}

.position-bottom {
  bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.link-default {
  text-decoration: none;
  color: #000;
}

.link-default:hover {
  color: #000;
  opacity: 0.7;
}


.register-page--images {
  position: relative;
  width: 100%;
  height: 100vh;
}

.register-page {
  /* background-color: #000; */
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

.register-page__register-form {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 500px;
  max-height: 750px;
  width: 360px;
  border: 1.5px solid #000;
}

.register-page__register-form--padding {
  padding: 24px;
}

.register-page__register-form input {
  padding: 10px 0 10px 10px;
}

.eyes-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register-page__register-form input:focus {
  box-shadow: 0 0 6px #000 !important;
}

.register-page__register-form button:hover {
  opacity: 0.9;
}
